<h1>your selected Images</h1>


<div class="row">
  <% @selected_images.each do |image| %>
    <div class="col-xs-6 col-md-3">
        <a class="thumbnail">
          <%= image_tag(image.url) %>
        </a>
    </div>
  <% end %>
</div>