<div class="container">
  <div class="jumbotron">
    <button class="btn btn-lg btn-primary btn-instagram col-md-offset-4">
      <span class="fa fa-instagram"></span>

      <%= link_to "Log in Using Instagram",user_session_path, {:style=>'color:#FFFFFF;', :class => {}"css_class"}%>

      </button>
  </div>
</div>