<nav class="navbar navbar-inverse navbar-default">
  <div class="container">
    <% if user_signed_in? %>
     <button class="btn btn-danger pull-right">Log out</button>    
   <% end %>
  </div>
</nav>