<nav class="navbar navbar-inverse navbar-default">
  <div class="container">
    
    <% if user_signed_in? %>
    
        <%= button_to "Log out",destroy_user_session_path,{class:"btn btn-danger pull-right",method: :delete}%>   
     <% end %>
  </div>
</nav>